
  
  * { color:#fff; text-decoration: none;}


  section {
    /*background: #faebab;*/
  }

  body {
    font-family: "Roboto", "Arial", sans-serif;
    height: 100vh;
    line-height: 1.3;
    background: tomato;

    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color:#fff;

  }
  img{
    width: 100%;
  }
  .img2{
    width: 100%;
    top: -100px;
  }


  main p {
    color: white;
    font-size: 4vw;
    font-weight: 300;
  }
  main p .highlight {
    background: white;
    color: tomato;
    font-size: 4vw;
  }


  .bg-slider {
    width: 100%;
    height: 320px;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .bg-slider_title{
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    text-align:center;
  }
  .first_typewrite{
    position: relative;
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    text-align:center;
  }
  .type_div{
    width: 100%;
    height: 320px;
    top: 0px;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  @media screen and (max-width:450px) {
    .first_typewrite {
      font-size: 36px;
    }
  }
  @media screen and (max-width:450px) {
    .bg-slider_title {
      font-size: 36px;
    }
  }
  @media screen and (min-width:1001px) {
    .type_div {
      top: 50px;
    }
  }